<h1>Rent:  <%=@vehicle.name%></h1>

<img src="/images/<%=@vehicle.image%>" alt="Photo of <%=@vehicle.name%>">

<form action="/vehicles/<%=@vehicle.id%>/<%=@customer.id%>" method="post">

  <label for="customer-id">Customer</label>
  <select id="customer-id" name="customer_id">

    <%@customers.each do |customer|%>

    <option <%=customer.id%> value="<%=customer.id%>"><%=customer.second_name%>, <%=customer.first_name%></option>
    <%end%>
  </select>

<input type="submit" value="Save new rental">

</form>
