<form action="/rentals/new" method="post">

  <label for="customer-id">Select customer</label>
  <select id="customer-id" name="customer_id">

    <%@customers.each do |customer|%>

    <option <%=customer.id%> value="<%=customer.id%>"><%=customer.second_name%>, <%=customer.first_name%></option>
    <%end%>
  </select>

  <label for="vehicle-id">Select vehicle</label>
  <select id="vehicle-id" name="vehicle_id">

    <%@vehicles.each do |vehicle|%>

    <option <%=vehicle.id%> value="<%=vehicle.id%>"><%=vehicle.name%></option>
    <%end%>
  </select>

<input type="submit" value="Save new rental">

</form>
