<h1 class="customers"><%=@customer.second_name%>, <%=@customer.first_name%></h3>

<h3>Enter new details below</h3>

<form action="/customers/<%=@customer.id%>" method="post">

  <label for="second_name">Second name</label>
  <input type="text" name="second_name" value="<%=@customer.second_name%>">
  <br>
  <label for="first_name">First name</label>
  <input type="text" name="first_name" value="<%=@customer.first_name%>">
  <br>

<input type="submit" value="Update customer details">

</form>


<form class="" action="vehicle/@customer.id/delete" method="post">
<input type="submit" value="Delete customer">
</form>
