<div class="wrapper">
  <header class="main-head"><h1 class="customers">Customers</h1></header>

<aside class="side">
  <div class="customers">
    <ul>
      <li><a href="/customers/new">Add new customer</a></li>
    </ul>
  </div>
</aside>

  <div class="content">
    <% @customers.each do |customer| %>
    <hr class="customers">
    <h3><%= customer.second_name %>, <%= customer.first_name %></h3>

  <ul class="customers">
    <li><a href="/customers/<%=customer.id%>/rent">Set up rental</a></li>
    <li><a href="/customers/<%=customer.id%>">Show <%= customer.first_name %> <%= customer.second_name%>'s details</a></li>
  </ul>
  
    <% end %>
    <br>
  </div>

</div>
