<h1>New rental </h1>

<h3>Customer: <%=@customer.first_name%> <%=@customer.second_name%></h3>
<form action="/customers/<%=@customer.id%>/rent" method="post">

  <label for="vehicle-id">Choose Vehicle</label>
  <select id="vehicle-id" name="vehicle_id">

    <%@vehicles.each do |vehicle|%>

    <option <%=vehicle.id%> value="<%=vehicle.id%>"><%=vehicle.name%></option>
    <%end%>
  </select>
<br>
<input type="submit" value="Save new rental">

</form>
